# compiled output
api-gateway/dist
api-gateway/node_modules

# Logs
api-gateway/logs
*.log
api-gateway/npm-debug.log*
api-gateway/pnpm-debug.log*
api-gateway/yarn-debug.log*
api-gateway/yarn-error.log*
api-gateway/lerna-debug.log*

# OS
.DS_Store

# Tests
api-gateway/coverage
api-gatewayapi-gateway/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
node_modules/
.vscode/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.VSCodeCounter
.DS_Store
**/.DS_Store
api-gateway/data
api-gateway/dist
api-gateway/build
api-gateway/node_modules
api-gateway/.env
api-gateway/README.md
api-gateway/.gitignore
api-gateway/.DS_Store

card/data
card/dist
card/build
card/node_modules
card/.env
card/README.md
card/.gitignore
card/.DS_Store

email/data
email/dist
email/build
email/node_modules
email/.env
email/README.md
email/.gitignore
email/.DS_Store

news/data
news/dist
news/build
news/node_modules
news/.env
news/README.md
news/.gitignore
news/.DS_Store

nextjs/node_modules
nextjs/build
nextjs/.env
nextjs/.next
nextjs/.dev.env
nextjs/.prod.env
nextjs/README.md
nextjs/.gitignore
nextjs/.DS_Store
nextjs/public/panorama

order/data
order/dist
order/build
order/node_modules
order/.env
order/README.md
order/.gitignore
order/.DS_Store

product/src/migrations/data
product/dist
product/build
product/node_modules
product/.env
product/README.md
product/.gitignore
product/.DS_Store
